html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('bg.jpg') no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}

.wrapper:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: rgba(0,0,0, .3);
}

.container {
	height: 70%;
	width: 70%
}

.container__goodsBlock {
	width: 40%;
	height: 550px;
	padding: 20px;
	background: green;
	display: block;
	float: left;
	background: rgba(255,255,255, .7);
	border-radius: 20px 0 0 20px;
	border: 1px solid;
}

.container__cartBlock {
	width: 40%;
	float: left;
	height: 550px;
	background: rgba(255,255,255, .9);
	padding: 20px;
	position: relative;
	border-radius: 0 20px 20px 0;
}

.product{
	position: relative;
	width: 110px;
	height: 110px;
	margin: 0 0 10px 10px;
	background: rgba(77,210,233, .7);
	/*transition: background, .1s;*/
	border-radius: 20px;
	border: 1px solid rgb(77,210,233);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	padding: 5px;
}

.product:hover{
	cursor: pointer;
	background: rgba(77,210,233, 1);
}

.deleteBtn{
	padding: 5px 10px;
	background: rgba(255,255,255, .7);
	border-radius: 20px;
	transition: background, .3s;
}

.deleteBtn:hover{
	background: rgba(255,198,88, .9);
}

.cartBlock__totalPrice{
	position: absolute;
	bottom: 10px;
	left:50%;
	text-align: center;
	background: rgba(255,198,88, .9);
	padding: 3px 10px;
	min-width: 30px;
	border-radius: 20px;
	transform: translate(-50%,0);
}